/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100vh;
    min-height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: white;
}

#big-box {
    background-image: linear-gradient(to bottom right, #f87692, pink);
    /*background-image: linear-gradient(to bottom right, #f16e5f, #fc97c9);
    /*background-color: #ff99aa; */
    border: 3vh solid white;
    min-height: 100vh;
    overflow: hidden;
}

.cover-container {
    max-width: 42em;
}

.cover-heading {
    font-size: 30vh;
}

.container {
    padding-bottom: 2.5rem;
}


/*
 * Header
 */
.header {
    min-height: 100vh;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .icons {
    padding: .25rem 0;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    margin-left: 1rem;
}

.nav-masthead .icons:hover,
.nav-masthead .icons:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.inner {
    padding: 2%;
}

.small-txt {
    font-size: 20px;
    font-style: italic;
}

.lead {
    font-size: 16px;
    padding-top: 5vh;
}

.section1 {
    height: 17vh;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 8px;
    padding: 12px 30px;
    letter-spacing: 1px;
}

/* projects */

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.section2 {
    display: flex;
    justify-content: space-around;
}

.card {
    margin: 26px;
    padding: 18px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 25px;
    overflow: hidden;
    transition: all .2s linear;
    width: 360px;
    height: 240px;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}

.title {
    color: #ff99aa;
    font-family: 'Alegreya Sans';
    font-size: 24px;
    position: absolute;
    align-self: center;
}

.subtitle {
    color: #8c8c8c;
    font-family: 'Alegreya Sans';
    font-size: 10px;
    position: absolute;
    letter-spacing: 1px;
    align-self: center;
    padding-top: 30px;
    font-weight: 800;
}

.icon {
    font-weight: 700;
    color: #ff99aa;
    position: absolute;
    font-size: 24px;
    padding-left: 10px;
}

hr.rounded {
    border-top: 2px solid pink;
    width: 300px;
    border-radius: 5px;
}

.divider {
    position: absolute;
    top: 52px;
    align-self: center;
}

.date {
    color: #ff99aa;
    font-size: 10px;
    position: absolute;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 12px;
    padding-top: 60px;
}

.info {
    color: #ff99aa;
    font-size: 10px;
    position: absolute;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 70px;
    padding-left: 12px;
}

.description {
    color: #8c8c8c;
    font-family: 'Alegreya Sans';
    font-size: 13px;
    position: absolute;
    text-align: justify;
    align-self: center;
    padding-top: 90px;
    width: 300px;
}

.moreButton {
    position: absolute;
    text-align: center;
    justify-self: center;
    align-self: center;
    bottom: 0;
    margin-bottom: 20px;
    width: 100px;
    height: 26px;
    border-radius: 25px;
    background: pink;
    border: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    padding-top: 6px;
}

.moreButton:hover{
    cursor: pointer;
    background: #ff99aa;
    text-decoration: none;
}

.buttonLabel {
    font-size: 10px;
    color: white;
    font-family: 'Alegreya Sans';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
}


